<h2>About Merlink</h2>
<p>Merlink is a simple VPN client for Meraki firewalls.</p>

<h2>Why?</h2>
<ul>
  <li>Meraki does not have a native VPN client</li>
  <li>Windows likes to break VPN configs after updates</li>
  <li>Not having a VPN client is a common pain point</li>
</ul>

<h2>Features</h2>
<ul>
  <li>Setup/diagnose a VPN connection with a few clicks.</li>
  <li>Connect to any firewall in your organization.</li>
  <li>Automate VPN setup with a CLI.</li>
  <!--<li>Supports split-tunnel and TFA prompt.</li>-->
  <li>Written in Python/Qt5 for Linux, macOS, Windows.</li>
</ul>

<p>For more information, including setup and configuration instructions, bug reports, and feature requests, head over to <a href="https://github.com/pocc/merlink">GitHub</a>.</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/pocc/merlink">GitHub</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-twitter fa-lg main-list-item-icon"></span>
    <a href="https://twitter.com/ScoobySynack">Twitter</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="mailto:merlinkproject@gmail.com">Author</a>
  </li>
</ul>
